<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="myConnection" connectionString="Data Source=DESKTOP-ND4HDUE\SQLEXPRESS;Initial Catalog=ABTest;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
  </connectionStrings>
</configuration>